@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary-50: #eef6ff;
  --color-primary-100: #d8eaff;
  --color-primary-200: #badaff;
  --color-primary-300: #8ac5ff;
  --color-primary-400: #54a4ff;
  --color-primary-500: #2c7eff;
  --color-primary-600: #155dfb;
  --color-primary-700: #0e47e7;
  --color-primary-800: #123abb;
  --color-primary-900: #153693;
  --color-primary-950: #122259;

  --font-sans:
    "Inter", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --animate-fade: fade 2s infinite;
  --animate-slide-down-and-fade: slideDownAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-left-and-fade: slideLeftAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-up-and-fade: slideUpAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right-and-fade: slideRightAndFade 400ms
    cubic-bezier(0.16, 1, 0.3, 1);
  --animate-slide-right: slideRight 400ms ease-in-out;
  --animate-slide-out-right: slideOutRight 200ms ease-in-out;
  --animate-overlay-show: overlayShow 400ms ease-in-out;

  @keyframes overlayShow {
	from: { opacity: "0" },
	to: { opacity: "1" },
  }

  @keyframes fade {
    0% {
      opacity: 0.2;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 0.2;
    }
  }
  @keyframes slideDownAndFade {
    from {
      opacity: 0;
      transform: translateY(-2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideLeftAndFade {
    from {
      opacity: 0;
      transform: translateX(2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes slideUpAndFade {
    from {
      opacity: 0;
      transform: translateY(2px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @keyframes slideRightAndFade {
    from {
      opacity: 0;
      transform: translateX(-2px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes slideRight {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  @keyframes slideOutRight {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
}

@layer utilities {
  /* utilities to use animations */
  .animate-fade {
    animation: var(--animate-fade);
  }
  .animate-slide-down-and‑fade {
    animation: var(--animate-slide-down-and-fade);
  }
  .animate-slide-left-and‑fade {
    animation: var(--animate-slide-left-and-fade);
  }
  .animate-slide-up-and‑fade {
    animation: var(--animate-slide-up-and-fade);
  }
  .animate-slide-right-and‑fade {
    animation: var(--animate-slide-right-and-fade);
  }
}
